
* {
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0;
}
/* =========================================
   BÀI 1:
   ========================================= */
   #Exercise1{
   padding: 20px;
}
#Exercise1 .container {
    background-color: #e0e0e0;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto; 
    border-radius: 5px;
}
.text{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.col-sm-6 {
    flex: 1;
    display: flex;
    flex-direction: column; 
}
.submit-btn{
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}
.submit-btn .btn-submit:hover {
    background-color: #367c39; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.submit-btn .btn-submit {
    background-color: #45a049;
    color: white;
    border: none;
padding: 15px 0;      /* Giữ độ dày, bỏ padding ngang */
    width: 100%;    font-weight: bold;
    border-radius: 5px;
}
.col-sm-6 label {
    font-weight: bold;
    margin-bottom: 5px;
}
.col-sm-6 input, 
.col-sm-6 select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* =========================================
   BÀI 2: 
   ========================================= */
#Exercise2{
   padding: 20px;
}
#Exercise2 .calculator {
    padding: 30px;
    max-width: 400px;
    margin: 0 auto; /* Căn giữa container */
    border-radius: 5px;
}
.line {
    display: flex;
}
.calc-display{
    flex:1;
    padding: 30px;
    border: 1px solid ;
    font-size: 1.5em;
    background-color: #fff;
    border: 0.0001px solid ;
    text-align: right;
}

.calc-keys{
    flex: 1;
    border: 0.0001px solid ;

}
.calc-btn{
    border: 0.0001px solid ;
    flex:1;
    padding: 30px;
    font-size: 1.3em;
    background-color: rgb(155, 245, 255);
    font-weight: bold;
}
.calc-btn:hover{
    background-color: rgb(96, 233, 245);
    cursor: pointer;
}
/* =========================================
   BÀI 3:
   ========================================= */
#Exercise3{
   padding: 20px;   
}
#Exercise3 .form {
    padding: 30px;
    max-width: 400px;
    border-radius: 5px;
    margin: 0 auto; /* Căn giữa container */
}
.login label {
    flex: 1;
    margin-bottom: 5px;
    margin-right: 20px;
}
.login {
    display: grid;
    grid-template-columns: 150px 1fr; /* Cột 1 cố định 150px, cột 2 auto */
    margin-bottom: 12px;
    align-items: start;
}
.login input, 
.login select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login select option {
    text-align: center;
}
.login-btn{
    text-align: center;
    margin-top: 20px;
}
.login-btn .btn-login:hover, .login-btn .btn-reset:hover {
    background-color: #cccccc; /* Chọn màu đậm hơn chút để thấy hiệu ứng nhấn */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay */
    border-radius: 2px;

    transition: background-color 0.3s; /* (Tùy chọn) Làm mượt hiệu ứng đổi màu */
}

/* =========================================
   BÀI 4
   ========================================= */
    #Exercise4{
   padding: 20px;
}
#Exercise4 .container {
    background-color: #e0e0e0;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto; /* Căn giữa container */
    border-radius: 5px;
}
.message textarea {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding-left: 10px;
    max-width: 600px;
}
.submit-bt .b-submit {
    text-align: start;
    margin-top: 10px;
}
.submit-bt .b-submit:hover {
    background-color: #cccccc;
    color: black;
    cursor: pointer;
    border-radius: 2px;
}
