.head{
    background-color: blue;
    color: wheat;
    padding: 10px;
}
.red-bold {
    font-weight: bold;
    color: red
}
img {
    width: 60%;
    height: auto;
}
.iframe {
    width: 600px;
    height: 400px;
}
li img {
    width: 100px;
}