*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    padding: 20px;
}
.img-container img {
    width: 100%;
    height: auto;
    display: block;
}
.img-container {
    position: relative;
    width: 100%;
}
.text {
    position: absolute; 
    top: 55%;
    left: 57%;          
    transform: translate(-50%, -50%); 
    width: 30%; 
    font-size: 18px;
    background-color: rgba(229, 192, 252, 0.7);
    padding: 20px;
    padding-bottom: 15%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px; 
}
#bai3{
    text-align: center;
}
.content {
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    text-align: center;
    max-width: 70%;
}
.img-content {
    flex: 1;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    
}
.img-content img {
   
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.signal {
    display: none;
}
.question1 {
    display: block;
    background-color: #d35400;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding-left: 20px;
    color: white;
        user-select: none; 
}
.question1::before {
    content: "+ ";
    font-weight: bold;
    font-size: 18px;
}
.description {
    max-height: 0px; 
    overflow: hidden; /*xoa phan chu di luc mac dinh */
    padding: 0 15px; 
    background: #f1f1f1;
    transition: all 0.3s ease; 
}
.signal:checked + .question1::before {
    content: "- ";
}

.signal:checked ~ .description {
    max-height: 500px; 
    padding: 15px; 
}
