*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Asap",sans-serif;
}
.bgr img{
    width: 100%;
}
.bgr {
    position: relative;
}
.content {
    position: absolute;
    top: 15%;
    left: 15%;
    background-color: rgb(225, 229, 232,0.8);
    padding: 30px 40px;
    border-radius: 5px;
}
.content p {
    line-height: 2rem;
    color: #3f3424;
    margin-top: 10px;
}
.content h1{
    color:  #bf4240;
    font-weight: bolder;
}
.price {
    position: absolute;
    color: white;
    background-color:#bf4240;
    padding:  10px;
    border-radius: 5px;
    top: 42%;
    left: 47%;
    font-family: "Asap",sans-serif;
    
}

.hero-section {
    position: relative; 
    width: 100%;
    margin-bottom: 50px; 
}
.bgr1 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.icon {
    position: absolute; 
    top: 415px; 
    left: 5%;
    z-index: 10; 
}
.icon img {
    width: 200px;
    height: 170px;
    object-fit: contain;
    background: #fff;
}

.vin-nav {
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    padding: 15px 30px;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    z-index: 5;
}

.vin-nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: #3f3424;
    font-weight: bold;
    font-size: 14px;
}

.vin-nav a:hover {
    border-bottom: 3px solid #bf4240;
    color: #bf4240;
}

.bds-nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.bds-nav div {
    border: 2px solid #cccccc;
    padding: 10px;
    border-radius: 50px;
}
.bds-nav a{
    text-align: center;
    text-decoration: none;
    color: #3f3424;
    font-size: smaller;
}
.bds-nav div:hover{
    background-color: #AF7C38;
    border: #AF7C38;
}
.bds-nav div:hover .nav-item {
    color: #fff;
}
.bds-nav div:focus-within{
    background-color: #AF7C38;
    border: #AF7C38;
}
.bds-nav div:focus-within .nav-item {
    color: #fff;
}

.bgr2 {
    position: relative; 
    width: 100%; 
}

.bgr2 img {
    width: 100%;
    border-radius: 5px;
    display: block; 
}

.bdshcm {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.address {
    position: absolute;
    top: 40px; 
    left: 20px;
    width: 100%;
    color: white; 
    z-index: 10;
}

.quantity {
    position: absolute;
    bottom: 10px; 
    left: 20px;
    width: 100%;
    color: white;
    z-index: 10;
}



