body{
    font-family: "Sofia Sans", sans-serif;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
    max-width: 1200px;
  margin: 0 auto;
}

.sidebar { grid-area: sidebar; }

.header { grid-area: header; }

.main {
  display: grid;
  
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px; 
  grid-template-areas:
    "img1 img1 img3 img4"
    "img2 img2 img3 img4"
    "img5 img6 img7 img7"
    "img5 img6 img8 img8";
  grid-area: main;
}

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }
.img8 { grid-area: img8; }

.main div {
  width: 100%;
  height: 100%;
  border-radius: 16px; 
  overflow: hidden;    
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
.sidebar {
    padding-top: 54px;
    padding-left: 50px;
}
.sidebar .nav .icon {
    height: 22px;
    width: 22px;
    object-fit: contain;
}
.sidebar a {
    text-decoration: none;
}
h2 {
    margin-top: 60px;
}
.sidebar .nav-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 6px;
}
